# 一行代码实现1--100之和

In [25]:
sum(range(1, 101))

5050

# 列表去重

In [26]:
xlist = [11, 12, 13, 14, 15, 15, 13, 11]

xlist = list(set(xlist))
print(xlist)

[11, 12, 13, 14, 15]

# 如何删除字典键和合并两个字典

使用如下方法删除字典的键值对：
- `del`
- `pop()`

使用字典的`D.update()`方法合并两个字典。

In [23]:
d1 = {
    'id': 1001,
    'name': 'Peter',
    'score': 99,
}

del d1['id']
print(d1)

d1.pop('name')
print(d1)

{'name': 'Peter', 'score': 99}
{'score': 99}

In [24]:
d1 = {
    'id': 1001,
    'name': 'Peter',
    'score': 99,
}

d2 = {
    'id': 1001,
    'score': 100,
    'pass': True,
}
d1.update(d2)
print(d1)

{'id': 1001, 'name': 'Peter', 'score': 100, 'pass': True}

# 把字典对象根据键从小到大的顺序进行输出

In [12]:
d1 = {
    'name': 'zs',
    'age': 18, 
    'city': '深圳',
    'tel': '1362626627',
}

In [15]:
for key in sorted(d1.keys()):
    print('{} - {}'.format(key, d1[key]))

age - 18
city - 深圳
name - zs
tel - 1362626627

# 字符串去重和排序

有一个字符串，得到没有重复的字符并按顺序输出：
，去重并从小到大排序输出"adfjl"

In [11]:
s = 'ajldjlajfdljfddd'

chars = list(set(s))
output = ''.join(sorted(chars))

print(output)

adfjl